<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "CartPage",
  computed: {
    ...mapGetters(['getTotalPrice', 'getTotalItems', 'getItems'])
  },
  methods: {
    ...mapActions(['incrementItem', 'decrementItem'])
  }
}
</script>

<template>
  <div class="main">
    <div class="row">
      <div class="col-lg-8 left">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
         <div class="col" v-for="item in getItems" v-bind:key="item._id">
           <div class="card h-100">
             <img src="../assets/iphone.jpeg" class="card-img-top" alt="image">
             <p class="card-price">${{item.price}}</p>
             <div class="card-body">
               <div class="card-title">
                 <p>{{item.name}}</p>
               </div>
               <div class="card-footer">
                 <button class="btn btn-primary" @click="() => incrementItem(item._id)">
                   +
                 </button>
                 <span class="count">{{item.count}}</span>
                 <button class="btn btn-primary" @click="() => decrementItem(item._id)">
                   -
                 </button>
               </div>
             </div>
           </div>
         </div>
        </div>
      </div>
      <div class="col-lg-4 right">
        <div class="sticky">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Order</h2>
              <div class="card-text">
                <p>Total products: </p>
                <p>{{getTotalItems}}</p>
              </div>
              <div class="card-text">
                <p>Delivery: </p>
                <p>free</p>
              </div>
              <div class="card-text">
                <p>Total price: </p>
                <p>${{getTotalPrice}}</p>
              </div>
              <button class="btn btn-primary">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.main {
  padding-top: 15px;
  height: 1000vh;
}

.right {
  justify-content: center;
  align-items: center;
}
.right .card-text {
  display: flex;
  justify-content: space-between;
}
.right .card-title {
  font-weight: 700;
  padding-bottom: 10px;
}
.right .btn {
  width: 100%;
  font-weight: 700;
}

.sticky {
  position: fixed;
  width: 33.33%;
  top: 95px;
}
.left .card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}
.left .card .btn {
  width: 100%;
  font-weight: 700;
}
.left .card .count {
  padding: 0px 30px;
}
.left .card .card-title p {
  font-weight: 700;
}
.left .card-price {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 50%;
  padding: 5px;
  font-weight: 700;
  border-radius: 0px 0px 10px 0px;
}

.left .card-img-top {
  height: 200px; /* Set the desired height for the images */
  object-fit: cover;
}

.left .card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  background-color: white;
  border-top: 1px solid black;
}


.left .card .card-title h4 {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 700;
  text-align: center;
}

@media only screen and (max-width: 992.09px) and (min-width: 0px)  {
  .sticky {
    position: relative;
    width: 100%;
  }
}



</style>