<script>
import ProductsRow from "@/components/ProductsRow.vue";
import CategoryCol from "@/components/CategoryCol.vue";
import {mapActions, mapGetters} from "vuex";

export default {
  name: "HomePage",
  components: {CategoryCol, ProductsRow},
  methods: {
    ...mapActions(['fetchCategories', 'fetchProducts'])
  },
  computed: {
    ...mapGetters(['getCategories', 'getProducts'])
  },
  mounted() {
    this.fetchCategories();
    this.fetchProducts();
  }

}
</script>

<template>
  <div class="main">
    <div class="row">
      <div class="col-lg-2">
        <CategoryCol :categories="getCategories" />
      </div>
      <div class="col-lg-10">
        <ProductsRow :products="getProducts" />
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>