<script>
import {mapActions} from "vuex";

export default {
  name: "SignUpPage",
  data() {
    return {
      form: {
        name: '',
        sname: '',
        email: '',
        password: ''
      },
      checked: false,
      error: 'Feaf'
    }
  },
  methods: {
    ...mapActions(['pushUser']),
    register() {
      if(!this.checked) {
        return  this.error = 'Please check the form'
      }
      this
          .pushUser(this.form)
          .then(() => {
            console.log("Good to go");
            this.$router.push('/');
          })
          .catch((err) => {
            console.log("Error in front: ", err);
            if(Array.isArray(err)) {
              this.error = err[0].msg;
            } else {
              this.error = err.message;
            }
          })
    }
  }
}
</script>

<template>
  <div class="sign-in-container">
    <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="error">
      <strong>Error!</strong> {{error}}.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @click="() => error = ''"></button>
    </div>
    <form class="col-lg-6 mx-auto" @submit.prevent="register">
      <div class="header">
        <h1>Sign up</h1>
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col">
            <label for="fname" class="form-label">Name</label>
            <input type="text" class="form-control" id="fname" v-model="form.name">
          </div>
          <div class="col">
            <label for="sname" class="form-label">Second name</label>
            <input type="text" class="form-control" id="sname" v-model="form.sname">
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="form.email">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" v-model="form.password">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" v-model="checked">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary w-100">Submit</button>
      <div class="help">
        <p>Already have an account ?. <router-link to="/sign-in">Sign in</router-link> </p>
      </div>
    </form>
  </div>
</template>

<style scoped>
.sign-in-container{
  padding-top: 140px;
}
form {
  border: 2px solid #ccc;
  padding: 40px;
  border-radius: 20px;
}
form button {
  padding: 15px;
  font-weight: 700;
  font-size: 20px;
}
.header {
  text-align: center;
  padding: 15px;
}
.header h1{
  font-weight: 700;
}
.help {
  text-align: center;
  padding-top: 30px;
}
.alert {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
</style>