<script>
export default {
  name: "CategoryCol",
  props: ['categories']
}
</script>

<template>
  <div class="list-group mt-4">
    <a href="#" class="list-group-item list-group-item-action" aria-current="true" v-for="category in categories" v-bind:key="category._id">
      {{category.name}}
    </a>
  </div>
</template>

<style scoped>
a {
  padding: 15px;
  font-weight: 700;
}

</style>