<script>
import {mapGetters} from "vuex";
import store from "@/plugins/vuex/store";

export default {
  name: "NavbarRow",
  computed: {
    ...mapGetters(['isAuthorized', "getToken", 'getUser', 'getTotalItems', 'getTotalPrice', 'getItems'])
  },
  methods: {
    removeToken() {
      localStorage.removeItem('token');
      store.commit('updateToken', "")
      this.$router.push('/sign-in')
    }
  },
  // watch: {
  //   getToken: function(newValue) {
  //     console.log("Changed", newValue);
  //   }
  // }
}
</script>


<template>
  <nav class="navbar navbar-expand-lg p-4">
    <div class="container">
      <router-link class="navbar-brand" to="/">Navbar</router-link>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item position-relative">
            <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="nav-link" aria-current="page"><i class="fa-solid fa-cart-shopping"></i></button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">My Cart</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="card-items">
                      <div class="card-item" v-for="item in getItems" v-bind:key="item._id">
                        <div class="image">
                          <img src="../assets/iphone.jpeg" alt="Product Image">
                        </div>
                        <div class="card-texts">
                          <p>{{item.name}}</p>
                        </div>
                        <div class="card-calculate">
                          <button class="btn btn-primary">+</button>
                          <span class="count">{{item.count}}</span>
                          <button class="btn btn-primary">-</button>
                        </div>
                        <div class="close-icon">
                          <button class="btn btn-primary"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="total-price">
                      <h4><span class="total-text">Total:</span> ${{getTotalPrice}}</h4>
                    </div>
                    <div class="total-buy">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" v-if="getTotalItems">
              {{getTotalItems}}
              <span class="visually-hidden">unread messages</span>
            </span>
          </li>

          <li class="nav-item dropdown" v-if="getToken">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              <i class="fa-solid fa-user-astronaut"></i>
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <button class="dropdown-item" @click="removeToken">Logout</button>
              </li>
            </ul>
          </li>

          <li class="nav-item" v-else>
            <router-link class="nav-link" to="sign-in">
              <i class="fa-solid fa-right-to-bracket"></i>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<style scoped>
nav {
  background-color: #3264ff;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.navbar-nav li {
  margin-left: 5px;
  padding: 0px 5px;
}

.navbar-nav li a,
.navbar-nav li button {
  text-decoration: none;
  color: white;
}

.navbar-nav .dropdown-menu li button {
  text-decoration: none;
  margin: 0px;
  color: black !important;
  font-weight: 700;
}

.navbar-nav .dropdown-menu li a:active {
  color: white !important;
  font-weight: 700;
}

.modal-title {
  font-weight: 700;
}

.card-item {
  background-color: #fff;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-radius: 15px;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  margin-bottom: 10px;
}

.card-item .card-texts {
  width: 25%;
  color: black;
  font-weight: 700;
  padding-top: 15px;
}

.card-item .image {
  width: 1%;
}

.card-item .card-calculate {
  width: 25%;
}

.card-item .card-calculate .count {
  margin: 0px 5px;
}

.card-item .card-calculate button {
  border: none;
  background-color: #3264ff;
  border-radius: 50%;
}

.card-item .close-icon button {
  border-radius: 50px;
  color: black;
  background-color: #fff;
  border: none;
}

.card-item .close-icon button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-item img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-text {
  font-weight: 700;
}
</style>

<style scoped>
nav {
  background-color: #3264ff;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.navbar-nav li {
  margin-left: 5px;
  padding: 0px 5px;
}

.navbar-nav li a, .navbar-nav li button {
  text-decoration: none;
  color: white;
}

.navbar-nav .dropdown-menu li button {
  text-decoration: none;
  margin: 0px;
  color: black !important;
  font-weight: 700;
}

.navbar-nav .dropdown-menu li a:active {
  color: white !important;
  font-weight: 700;
}
.modal-title {
  font-weight: 700;
}

.card-item {
  background-color: #fff;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-radius: 15px;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
}

.card-item .card-texts {
  width: 25%;
  color: black;
  font-weight: 700;
  padding-top: 15px;
}
.card-item .image {
  width: 1%;
}
.card-item .card-calculate {
  width: 25%;
}
.card-item .card-calculate .count {
  margin: 0px 5px;
}
.card-item .card-calculate button {
  border: none;
  background-color: #3264ff;
  border-radius: 50%;
}
.card-item .close-icon button{
  border-radius: 50px;
  color: black;
  background-color: #fff;
  border: none;
}

.card-item .close-icon button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-item img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-text {
  font-weight: 700;
}

</style>