<script>
import {mapActions, mapGetters} from "vuex";
import store from "@/plugins/vuex/store";

export default {
  name: "NavbarTest",
  computed: {
    ...mapGetters(['isAuthorized', "getToken", 'getUser', 'getTotalItems', 'getTotalPrice', 'getItems'])
  },
  methods: {
    ...mapActions(['removeItem']),
    removeToken() {
      localStorage.removeItem('token');
      store.commit('updateToken', "")
      this.$router.push('/sign-in')
    },

  },
  // watch: {
  //   getToken: function(newValue) {
  //     console.log("Changed", newValue);
  //   }
  // }
}
</script>

<template>
  <nav class="navbar sticky-top">
    <div class="container">
      <div>
        <router-link class="navbar-brand" to="/">myShop</router-link>
      </div>
      <div class="nav-items">
        <div class="cart">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle position-relative" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-cart-shopping"></i>
              <span class="position-absolute top-0 start-80  translate-middle badge rounded-pill bg-danger" v-if="getTotalItems">
              {{getTotalItems}}
              <span class="visually-hidden">unread messages</span>
            </span>
            </button>
            <ul class="dropdown-menu">
              <li v-for="item in getItems" v-bind:key="item.id">
                <div class="dropdown-item-img-description-con">
                  <img :src="'http://localhost:3003/uploads/' + item.image.contentUrl" />
                  <div class="dropdown-item-descriptions">
                    <span class="dropdown-item-name">{{item.name}}</span>
                    <br />
                    <span class="dropdown-itme-price">${{item.price}}</span>
                  </div>
                </div>
                <div class="dropdown-item-remove" @click="() => removeItem(item._id)">
                  <i class="fa-solid fa-trash"></i>
                </div>
              </li>
              <div class="dropdown-footer" v-if="getItems.length">
                <router-link to="/cart">View all</router-link>
              </div>
              <div class="dropdown-footer sad" v-else>
                <i class="fa-regular fa-face-sad-tear"></i>
              </div>
            </ul>
          </div>
        </div>
        <div class="authentication">
          <div class="dropdown" v-if="getToken">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user-astronaut"></i>
            </button>
            <ul class="dropdown-menu">
              <li><button class="dropdown-item" @click="removeToken">Logout</button></li>
            </ul>
          </div>
          <div v-else>
            <router-link class="btn sign-in" to="sign-in">
              <i class="fa-solid fa-right-to-bracket"></i>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<style scoped>
nav {
  background-color: #3264ff;
  padding: 20px;
}
nav .navbar-brand {
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.nav-items {
  display: flex;
  margin-top: 5px;
}
.nav-items .cart {
  margin-right: 10px;
}
.nav-items .cart button {
  border: none;
  background-color: transparent;
  color: white;
}
.authentication .dropdown button{
  background-color: transparent;
  border: none;
}
.authentication .dropdown-menu .dropdown-item{
  font-weight: 700;
}
.sign-in {
  color: white;
  background-color: transparent;
  border: none;
}
.sign-in:active {
  color: white;
}


.cart .dropdown {
  position: relative;
  display: inline-block;
}
.cart .dropdown .dropdown-menu {
  position: absolute;
  background-color: #f9f9f9;
  left: -608px;
  min-width: 640px; /* Increase the dropdown menu width */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0px;
}
.cart .dropdown .dropdown-menu li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}
.cart .dropdown .dropdown-menu li .dropdown-item-remove {
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  color: #ccc;
  cursor: pointer;
  transition: 0.3s;
}
.cart .dropdown .dropdown-menu li .dropdown-item-remove:hover {
  color: black;
}
.cart .dropdown .dropdown-menu li .dropdown-item-img-description-con {
  display: flex;
}
.cart .dropdown .dropdown-menu li .dropdown-item-descriptions {
  margin-top: -5px;
}
.cart .dropdown .dropdown-menu li .dropdown-item-name {
  font-weight: 700;
}


.cart .dropdown .dropdown-menu li img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.dropdown-footer {
  text-align: center;
  padding: 15px;
}
.sad {
  padding: 15px;
  font-size: 20px;
}
.dropdown-toggle::after {
  content: none;
}







@media only screen and (max-width: 768px) and (min-width: 540.9px)  {
  .cart .dropdown .dropdown-menu {
    position: absolute;
    left: -408px;
    min-width: 440px; /* Increase the dropdown menu width */

  }
}

@media only screen and (max-width: 541px) and (min-width: 0px)  {
  .cart .dropdown .dropdown-menu {
    position: absolute;
    left: -270px;
    min-width: 300px; /* Increase the dropdown menu width */

  }
}

</style>