<script>
import {mapActions} from "vuex";

export default {
  name: "ProductsRow",
  props: ['products'],
  methods: {
    ...mapActions(['pushItems']),
    truncateText(text, maxLength) {
      if (text.length > maxLength) {
        return text.substring(0, maxLength) + "...";
      }
      return text;
    }
  },
}
</script>

<template>
  <div class="main-product-container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
      <div class="col" v-for="product in products" v-bind:key="product._id">
        <div class="card h-100">
          <img :src="'http://localhost:3003/uploads/' + product.image.contentUrl" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="card-title">
              <h4>{{product.name}}</h4>
            </div>
            <p class="card-text">{{truncateText(product.description, 70)}}</p>
            <div class="card-footer">
              <h4>${{product.price}}</h4>
              <button class="btn btn-primary" @click="() => pushItems(product)">
                <i class="fa-solid fa-cart-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.main-product-container {
  padding: 20px 15px;
}

.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-img-top {
  height: 200px; /* Set the desired height for the images */
  object-fit: cover;
}

.card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  background-color: white;
  border-top: 1px solid black;
}

.card .card-footer h4 {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 700;
}

.card .card-title h4 {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 700;
}

.card .card-footer button {
  border-radius: 50%;
  padding: 10px 14px;
}
</style>