<template>
  <NavbarTest />
  <div class="container">
    <router-view />
  </div>
</template>

<script>
import {mapActions} from "vuex";
import NavbarTest from "@/components/NavbarTest.vue";

export default {
  name: 'App',
  components: {
    NavbarTest

  },
  methods: {
    ...mapActions(['fetchAboutMe']),
  },
  mounted() {
    if(localStorage.getItem('token')) {
      this
          .fetchAboutMe()
    }
  }

}
</script>

<style>

</style>
